#mainNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    height: 40rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
}

.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
}

.fs-site-heading {
    font-size: 6rem;
}

.fs-site-subheading {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin-top: 0.625rem;
}

@media (min-width: 991.98px) {
    .fs-lg {
        font-size: calc(1rem * 1.2) !important;
    }
}

.btn-next-post {
    background-color: #0085A1 !important;
    border: #0085A1 !important;
}

.btn-next-post:hover {
    background-color: #00657B !important;
    border: #00657B !important;
}

.social-icon:hover i {
    color: #0085A1;
} 

.login-page {
    height: 100vh;
    background-image: url(./assets//img/login.jpg) !important;
    background: no-repeat center center;
    background-size: cover;
}

.error-page {
    background-image: linear-gradient(#ED213A, #93291E);
}

.error-page h1 {
    font-size: 128px;
}

.error-page a {
    color: #ED213A;
    letter-spacing: 2px;
}

.active {
    color: #00657B !important;
}

.btn-icon {
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.text-cyan {
    color: #0085A1 !important;
}

.article img {
    width: 100%;
    height: auto;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5 {
    font-size: 2.5rem;
    font-family: 'Lora', serif;
    font-weight: 700;
}

.article p {
    font-size: 1.2rem;
    line-height: 1.8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.spinner-sm {
    width: 1rem;
    height: 1rem;
}

.spinner-md {
    width: 2.5rem;
    height: 2.5rem;
}

.spinner-lg {
    width: 5rem;
    height: 5rem;
}